{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}

<div class="title">
	<a href="{{ '/' | internalLinkToDir }}">
		<h1>{{ config.title }}</h1>
	</a>
</div>
<ul class="menu">
	<li class="menu">
		<a href="{{ '/event/' | internalLinkToDir }}">Events</a>
	</li>
	{%  if allGroups %}
		<li class="menu">
			<a href="{{ '/group/' | internalLinkToDir }}">Groups</a>
		</li>
	{%  endif %}
	<li class="menu">
		<a href="{{ '/country/' | internalLinkToDir }}">Countries</a>
	</li>
</ul>
<div class="afterMenu"></div>
