{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}

<ul>
  <li><a href="{{ '/' | internalLinkToDir }}">{{ config.title }}</a></li>
  <li><a href="{{ '/event/' | internalLinkToDir }}">Events</a></li>
  <li><a href="{{ '/group/' | internalLinkToDir }}">Groups</a></li>
  <li><a href="{{ '/country/' | internalLinkToDir }}">Countries</a></li>
</ul>
