{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}

{% extends 'page.html.twig' %}

{% block content %}

	<p>GROUP</p>

	<ul>
		<li>
			<div class="">{{  group.title }}</div>
			<div class="">{{  group.description | nl2br }}</div>
		</li>
	</ul>


	<ul>
		{%  for event in events %}
			<li>
				<div class="">{{  event.title }}</div>
				<div class="">{{  event.start | date("F jS \\a\\t g:ia") }}</div>
				<div class="">{{  event.end | date("F jS \\a\\t g:ia") }}</div>
				<div class=""><a href="{{ config.baseURL }}/event/{{  event.slug }}/">More</a></div>
			</li>
		{% endfor %}
	</ul>

{% endblock %}
