{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}

{% extends 'event/page.html.twig' %}


{% block tabDetails %}currentTab{% endblock %}

{% block innerContent %}

	<div class="mainShowEvent" itemscope itemtype="http://schema.org/Event">
		<meta itemprop="name" content="{{ event.title|e('html_attr') }}" />

		<div class="innerPageLeft">


			{% if event.isdeleted %}
				<div class="dateTimeIcon">
					<div class="dateIcon">
						<span class="deleted">Deleted!</span>
					</div>
				</div>
			{% elseif event.isCancelled %}
				<div class="dateTimeIcon">
					<div class="dateIcon">
						<span class="cancelled">Cancel<br>-led!</span>
					</div>
				</div>
			{% else %}
				<div class="dateTimeIcon">
					<time datetime="{{ event.getStartAt|tolocaltimeformatted('c', event.timeZone.code) }}">
						<div class="dateIcon">
							<span class="startDay">{{ event.getStartAt|tolocaltimeformatted('D', event.timeZone.code) }}</span>
							<span class="startDate">{{ event.getStartAt|tolocaltimeformatted('jS', event.timeZone.code) }}</span>
							<span class="startMonthYear">{{ event.getStartAt|tolocaltimeformatted('M \'y', event.timeZone.code) }}</span>
						</div>
						<div class="timeIcon">
							<span class="startTime">{{ event.getStartAt|tolocaltimeformatted('g:ia', event.timeZone.code) }}</span>
						</div>
					</time>
				</div>
			{% endif %}

			<p class="description" itemprop="description">
				{%  if event.description %}
					{{ event.description | nl2br  | linkify }}
				{%  else %}

					{% if event.url %}
						<p>
							More details: <a href="{{ event.url }}" target="_blank">{{ event.url | linkinfo }}</a>
						</p>
					{% endif %}

				{%  endif %}
			</p>

			<div class="dateAndLocationWrapper">
				{% include 'common/eventFromToLine.html.twig' with {'startAt': event.start, 'endAt': event.end, 'timezone':event.timeZone.code, 'showTimeZone':true} %}
			</div>


		</div>

		<div class="innerPageRight">

			{%  if event.url  %}
				<div class="infoBoxWrapper">
					<div class="infoBoxTitle">More Information</div>
					<div class="infoBoxContent">

						{% if event.url %}
							<div class="innerPageRightLinkWrapper">
								<div class="innerPageRightLinkHeader">More details</div>
								<div class="innerPageRightLinkContent"><a href="{{ event.url }}" target="_blank">{{ event.url | linkinfo }}</a></div>
							</div>
						{% endif %}

					</div>
				</div>
			{%  endif %}

		</div>

		<div class="afterInnerPageContent"></div>

		{% for displayGroup in groups %}
			<div class="innerPageLeftRightTitle">
				<p class="groupTitle">About <a href="{{ ("/group/" ~ displayGroup.slug) | internalLinkToDir }}">{{ displayGroup.title }}</a></p>
			</div>
			<div class="innerPageLeft">
				{% if group.description  %}
					<p class="groupDescription">{{ displayGroup.description | nl2br  | linkify }}</p>
				{% else %}
					<p class="groupDescription">We don't know any more about {{ displayGroup.title }}.</p>
				{% endif %}
			</div>
			<div class="innerPageRight">
				{% if displayGroup.url and displayGroup.url != event.url %}
					<div class="innerPageRightLinkWrapper">
						<div class="innerPageRightLinkHeader">More details</div>
						<div class="innerPageRightLinkContent"><a href="{{ displayGroup.url }}" target="_blank">{{ displayGroup.url | linkinfo }}</a></div>
					</div>
				{% endif %}
			</div>
			<div class="afterInnerPageContent"></div>
		{% endfor %}

		<div class="afterEventListing"></div>
	</div>

{% endblock %}
