{#
 # @package Core
 # @link http://ican.openacalendar.org/ OpenACalendar Open Source Software - Website
 # @license http://ican.openacalendar.org/license.html 3-clause BSD
 # @copyright (c) 2015, JMB Technology Limited, http://jmbtechnology.co.uk/
 # @author James Baster <james@jarofgreen.co.uk>
 #}

{% extends 'page.html.twig' %}

{% block content %}

	<p>EVENT</p>

	<ul>
		<li>
			<div class="">{{  event.title }}</div>
			<div class="">{{  event.description | nl2br }}</div>
			<div class="">{{  event.start | date("F jS \\a\\t g:ia") }}</div>
			<div class="">{{  event.end | date("F jS \\a\\t g:ia") }}</div>
			<div class="">{{  event.country.title }}</div>
			<div class="">{{  event.timeZone.code }}</div>
		</li>
	</ul>


  	<ul>
  		{%  for group in groups %}
  			<li>
  				<div class="">Group: {{  group.title }}</div>
  				<div class=""><a href="{{ ("/group/" ~ group.slug) | internalLink }}">More</a></div>
  			</li>
  		{% endfor %}
  	</ul>

{% endblock %}
